- [ ] Yoga flexor stretch left
- [ ] Yoga flexor stretch right
- [ ] Hamstring stretch
- [ ] Chin tuck wall lean
- [ ] Meditate
- [ ] Chin tucks
- [ ] 20 Kettle bell pulls
- [ ] Anki until 7AM
- [ ] 90 / 90 lift left
- [ ] 90 / 90 lift right
- [ ] Squats
- [ ] Lunges
